$color-dark: #000;
$color-dark-gray: #222;
$color-white: #fff;
$color-green: #8DFD1B;
$color-gray: #A8A8A8;
$color-light-gray: #C4C4C4;
$color-violet: #42006A;

$font-size_small: 1.1rem;
$font-size_default: 1.6rem;
$font-size_light: 2.1rem;
$font-size_light_plus: 2.8rem;
$font-size_middle: 3.8rem;
$font-size_big: 5.1rem;
$font-size_very_big: 7.9rem;

$font-family_common: Inter, sans-serif;
$font-family_decorative: DM Mono, monospace;
$font-family_title: Audiowide, cursive;